.login-partial {
				width: 100%;
				margin: 0px;
				margin-top: 0;
			}
			.logo {
				background-color: #219653;
				width: 50%;
				float: left;
				height: 624px;
			}
			.logo img{
				margin-top: 63px;
				margin-left: 220px;
			}
			.logo p{
				font-size: 35px;
				margin-top: 15px;
				font-family: Times New Roman;
				line-height: 50px;
				text-align: center;
				color: white;
			}
			.logo h5{
				font-size: 85px;
				margin-top: 15px;
				font-family: Times New Roman;
				line-height: 20px;
				text-align: center;
				color: yellow;
			}
			.logo h5 small{
				font-size: 40px;
			}
			.sign_in {
				background-color: #E5E5E5;
				display: inline-block;
				width: 50%;
				height: 624px;
			}
			.sign_in p{
				margin-top: 130px;
				margin-left: 80px;
				font-family: Roboto;
				font-size: 75px;
				font-style: normal;
				font-weight: 500;
				line-height: 5px;
				letter-spacing: 0em;
			}
			.sign_in label{
				font-family: Roboto;
				margin-left: 80px;
				font-size: 28px;
				font-style: normal;
				font-weight: 600;
				line-height: 42px;
				letter-spacing: 0em;
			}
			.sign_in input[type=text]{
				background: #FFFFFF;
				border: 1px solid #000000;
				width: 450px;
				height: 35px;
				margin-left: 80px;
				margin-top: 8px;
				margin-bottom: 15px;
				font-size: 20px;
			}
			.sign_in input[type=password]{
				background: #FFFFFF;
				border: 1px solid #000000;
				width: 450px;
				height: 35px;
				margin-left: 80px;
				margin-bottom: 15px;
				font-size: 20px;
			}
			.sign_in .btn-login{
				border: 1px solid #000000;
				box-shadow: 0px 5px 4px 0px #000000 60%;
				position: absolute;
				width: 160px;
				height: 45px;
				left: 1060px;
				top: 440px;
				font-size: 20px;
				background-color: #219653;
				color: white;
			    transition: 0.5s all;
			    -webkit-transition: 0.5s all;
			    -moz-transition: 0.5s all;
			    -o-transition: 0.5s all;
			    display: inline-block;
			    cursor: pointer;
			    outline: none;
			    border: none;
			    border-radius: 3px;
			}
			.sign_in input[type="submit"]:hover {
			    background: #006633;
			    transition: 0.5s all;
			    -webkit-transition: 0.5s all;
			    -moz-transition: 0.5s all;
			    -o-transition: 0.5s all;
			}
			.sign_in a{
				margin-left: 80px;
				padding-top: 10px;
				font-size: 20px;
				font-style: italic;
			}
			.dangky p{
				margin-top: 80px;
				margin-left: 80px;
				font-family: Roboto;
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: 5px;
				letter-spacing: 0em;
			}
			.dangky a{
				margin-left: 0;
				font-style: italic;
			}