body {
	margin: 0;
    background-color: #f2f2f2;
}
.sign_up {
	background-color: #E5E5E5;
	margin: 0;
}

.container {
    padding: 2vh 2vw 2vh 2vw;
    font-size: 1.3em;
}

.form-container {
    display: block;
    margin: auto;
}

.form-container h1 {
	text-align: center;
}

.form-element {
	position: relative;
    margin-bottom: 2vh;
	left: 28vw;
}

.form-element label {
    display: inline-block;
    width: 13vw;
    text-align: left;
}
.form-element input[type = "text"], .form-element input[type = "password"]  {
    width: 25vw;
    height: 2.5vh;
    display: inline-block;
}

.form-element select  {
    height: 3vh;
	margin-right: 1vh;
}

.form-element p {
	position: relative;
	left: 13vw;
}

button {
	font-size: 20px;
    padding: 5px;
    margin-left: 1vw;
    color: white;
    border-radius: 3px;
    position: relative;
    left: 23.5vw;
}

.exit-btn {
    width: 5vw;
    background-color: #ff3333;
}

.exit-btn:hover {
    background-color: #cc0000;
}

.submit-btn {
    width: 8vw;
    background-color: #219653;
}

.submit-btn:hover {
    background-color: #1c7d46;
}

/* The alert message box */
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
	color: black;
  }