body {
    margin: 0;
}

.container {
    margin: 30px;
}

h3.list {
    margin-left: 40%;
}

div.list-group {
    margin-left: 5%;
}

table {
    margin: 3%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 2px solid #111;
}

th {
    border: 2px solid #111;
    text-align: center;
    padding: 8px;
}

tr {
    border: 2px solid #111;
    text-align: center;
    padding: 8px;
}

td {
    border-top: 1px solid #dddddd;
    border-left: 2px solid #111;
    border-right: 2px solid #111;
    text-align: center;
    padding: 8px;
}

.btn-print {
    color: white;
    width: 6%;
    box-shadow: 1px 1px 1px 1px black;
}

button.btn.btn-success {
    background: #219653;
    border-radius: 6px;
    float: right;
    margin-right: 5%;
    margin-left: 1%;
    height: 30px;
    color: white;
}

button.btn.btn-light {
    background: red;
    border-radius: 6px;
    float: right;
    height: 30px;
    color: white;
}