body {
    margin: 0;
}

ul.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.menu-bar li h3 {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

.menu-bar li div {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin-bottom: 1vh;
}

.menu-bar li select {
  padding: 5px;
  margin-left: 5px;
  background-color: #219653;
  border: 1px solid #111;
  border-radius: 3px;
  color: white;
}

.menu-bar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu-bar li a:hover {
  background-color: #4CAF50;
  color: white;
}

.container {
   padding: 30px; 
   margin-left: 15%;
}

/* Style checkbox */
.box {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 27px;
    font-size: 1.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #111;
  }
  
  /* On mouse-over, add a grey background color */
  .box:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .box input:checked ~ .checkmark {
    background-color: #219653;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .box input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .box .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* Style modal */
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      overflow: hidden;
      margin: auto;
      padding: 6px 14px;
      border: 1px solid #888;
      width: 30%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .modal-main {
      margin: 4vh 3vw 4vh 3vw;
    }

/*     .modal h1 {
      margin-top: 5vh;
    } */

    .modal form div{
      display: block;
      margin-top: 2vh;
    }

    .modal form div::after {
      content: "";
      clear: both;
      display: table;
    }

    .modal .inputLabel {
      font-size: 1.2em;
    }

    .modal input[type = "number"] {
      height: 2.5vh;
      margin-left: 1vw;
    }

    .modal form table {
      display: block;
      margin-top: 2vh;
      border-spacing: 10px;
      width: 100%;
      border-style: double;
    }

    .modal form table td {
      width: 10vw;
    }

    .modal form label {
      display: inline-block;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .query-btn, .cancel-btn {
      float: right;
      padding: 10px 15px;
      margin-left: 10px;
      border-radius: 3px;
      color: white;
      font-size: 1em;
      border: 1px solid #111;
  }

  .query-btn {
    background-color: #219653;
  }

  .query-btn:hover {
    background-color: #1c7d46;
  }

  .cancel-btn {
    background-color: #ff3333;
  }

  .cancel-btn:hover {
    background-color: #cc0000;
  }

/* Style chart */
  .chart-container {
    margin: 5vh 10vw 5vh 10vw;
  }