body {
    margin: 0;
}

.information {
    height: 970px;
    margin: 30px;
}
.information fieldset{
    margin-top: 10px;	
}
.information input{
    margin: 5px;
}
.information p{
    text-align: center;
}

.score-table input{
    width: 100px;
    margin: 15px;
}

.score-table {
  margin: 15px;
  width: 95%;
}

.information button {
    float: right;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 3px;
    padding: 10px;
    width: 6%;
    color: white;
  }
  
  .cf-btn {
    background-color: #219653;
  }
  
  .cf-btn:hover {
    background-color: #1c7d46;
  }
  
  .cancel-btn {
    background-color: #ff3333;
  }
  
  .cancel-btn:hover {
    background-color: #cc0000;
  }

  .score-table, .score-table th, .score-table td {
    border: 1px solid #111;
    text-align: center;
  }