body {
    margin: 0;
}

.container {
    padding: 30px;
    font-size: 1.3em;
    text-align: center;
}

.form-container {
    display: block;
    margin: auto;
}

.form-element {
    margin-bottom: 2vh;
}

.form-element label {
    display: inline-block;
    width: 13vw;
    text-align: left;
}
.form-element input {
    width: 20vw;
    height: 2.5vh;
    display: inline-block;
}

button {
    padding: 7px;
    margin-left: 1vw;
    color: white;
    border-radius: 3px;
    position: relative;
    left: 10vw;
}

.rsbtn {
    width: 5vw;
    background-color: #ff3333;
}

.rsbtn:hover {
    background-color: #cc0000;
}

.savebtn {
    width: 5vw;
    background-color: #219653;
}

.savebtn:hover {
    background-color: #1c7d46;
}